<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.easybook.order.dao.OrderGroupDAO">
 	<insert id="insertOrderGroup" parameterType="map">
 		INSERT INTO `order_group`
 		(
 			`userId`
			, `nonMemberId`
			, `consigneeName`
			, `consigneePhoneNumber`
			, `postCode`
			, `address`
			, `totalPrice`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{nonMemberId}
 			, #{consigneeName}
 			, #{consigneePhoneNumber}
 			, #{postCode}
 			, #{address}
 			, #{totalPrice}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectOrderGroupByUserIdNonMemberId" parameterType="map" resultType="com.easybook.order.model.OrderGroup">
 		SELECT
 			`id`
			, `userId`
			, `nonMemberId`
			, `consigneeName`
			, `consigneePhoneNumber`
			, `postCode`
			, `address`
			, `totalPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`order_group`
		WHERE
			<if test="userId != null">
				`userId` = #{userId}
			</if>
			<if test="nonMemberId != null">
				`nonMemberId` = #{nonMemberId}
			</if>
		ORDER BY
			`createdAt` DESC LIMIT 1
 	</select>
 	
 	<select id="selectOrderGroupById" resultType="com.easybook.order.model.OrderGroup">
 		SELECT
 			`id`
			, `userId`
			, `nonMemberId`
			, `consigneeName`
			, `consigneePhoneNumber`
			, `postCode`
			, `address`
			, `totalPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`order_group`
		WHERE
			`id` = #{orderGroupId}
 	</select>
 	
 	<select id="selectOrderGroupList" resultType="com.easybook.order.model.OrderGroup">
	 	SELECT
			`id`
			, `userId`
			, `nonMemberId`
			, `consigneeName`
			, `consigneePhoneNumber`
			, `postCode`
			, `address`
			, `totalPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`order_group`
		ORDER BY `id` DESC LIMIT 500;
 	</select>
 	<select id="selectOrderGroupListByUserIdNonMemberId" parameterType="map" resultType="com.easybook.order.model.OrderGroup">
 		SELECT
 			`id`
			, `userId`
			, `nonMemberId`
			, `consigneeName`
			, `consigneePhoneNumber`
			, `postCode`
			, `address`
			, `totalPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`order_group`
		WHERE
			<if test="userId != null">
				`userId` = #{userId}
			</if>
			<if test="nonMemberId != null">
				`nonMemberId` = #{nonMemberId}
			</if>
		ORDER BY
			`id` DESC
 	</select>
 	
 </mapper>